@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Theme & global styles
$black: #000000;
$white: #ffffff;

$background: #fef6e4;
$headline: #001858;
$paragraph: #172c66;
$button: #f582ae;
$button-dark: #ef3b80;
$button-text: #001858;
$secondary: #8bd3dd;
$tertiary: #f3d2c1;
$bold-blue: #0562ee;

p {
  margin-top: 0;
  font-family: 'PT Serif', serif;
  color: $paragraph;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
}

a {
  color: $button-dark;
  &:hover {
    color: $bold-blue;
  }
}

.App {
  text-align: center;
  background-color: $background;
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $headline;

  .main-copy {
    height: 100px;
    .name-text {
      color: $button;
    }
  }

  .subheader-copy {
    display: block;
    clear: both;
    height: 80px;
    padding-top: 18px;
    text-transform: lowercase;
    color: $bold-blue;
    .non-dynamic {
      padding-bottom: 10px;
      color: $headline;
      font-size: 22px;
      text-transform: none;
    }
    // .subheader-copy-dynamic-text {
    //   color: $button;
    // }
    // @media (max-width: 768px) {
    //   padding-left: 10%;
    // }
    // .subheader-copy-full-text {
    //   float: left;
    //   font-weight: 600;
    //   .subheader-copy-dynamic-text {
    //     color: $button;
    //     text-transform: lowercase;
    //   }
    // }
  }
}

.subheader-button-container {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
    li {
      padding: 10px;
    }
  }
}

.footer-container {
  text-align: center;
  background-color: $headline;
  padding: 18px 0;
  color: $white;

  div {
    font-size: 14px;
    padding-bottom: 5px;
  }

  hr {
    width: 10%
  }

  a {
    display: inline-block;
    img {
      height: 30px;
      width: 30px;
      padding: 5px;
      fill: $white;
    }
  }
}

.content-section {
  min-height: 60vh;
  background-color: $secondary;
  .content-header {
    padding: 40px 0 30px 0;
    color: $headline;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .content-body {
    padding: 0 12% 12%;
  }
}

.alternate-section-background {
  background-color: $background;
}

.content-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bio-pic {
  width: 40%;
  .bio-img {
    border-radius: 2px;
    max-width: 330px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
    box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
    @media (max-width: 750px) {
      max-width: 290px;
    }
  }
}

.bio-paragraph {
  width: 60%;
}

@media (max-width: 1155px) {
  .bio-pic {
    width: 100%;
    padding-bottom: 30px;
  }
  .bio-paragraph {
    width: 100%;
  }
}

.button {
  cursor: pointer;
  padding: 8px 30px 10px;
  border: 2px solid $button-text;
  border-radius: 2px;
  color: $button-text;
  font-size: 22px;
  width: 126px;
  &:hover {
    background-color: $button;
  }
}

.grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.grid-item {
  margin-bottom: 24px;
  padding: 15px;
  border: 2px solid $tertiary;
  width: 250px;
  height: 170px;
  font-size: 18px;
  font-family: 'PT Serif', serif;
  color: $paragraph;
}

.grid-image {
  display: block;
  margin: 0 auto;
  padding-top: 15px;
  max-width: 150px;
}

.youtube-iframe-wrapper {
  position: relative;
  top: 15px;
}
